<style type="text/css">
	.imageprofile{
		height: 60px;
		width: 60px;
	}
</style>

<h1 class="page-header"> My profile</h1>
<ul class="list-group">
	<li class="list-group-item">Username: {{ username }}</li>
	<li class="list-group-item">Name: {{ name }}</li>
	<li class="list-group-item">Email: {{ email }}</li>
	<li class="list-group-item">
		Avatar:  <img src='{{image}}' class="imageprofile img-thumbnail img-responsive img-circle" alt="noimage">
	</li>
</ul>
	
<div *ngIf="!userAuthorizationWithBlogCreate">
	<div class="row show-hide-message">
		<div [ngClass]="messageClass">
			{{ message }}
		</div>
	</div>
	<form [formGroup]="form" (submit)="onCreateUsernameSubmit()">
		<div class="form-group">
			<label for="username">Username</label>
			<div [ngClass]="{'has-error': (form.controls.username.errors && form.controls.username.dirty) || (!usernameValid && form.controls.username.dirty),'has-success': !form.controls.username.errors && usernameValid}">
				<input type="text" name="username" class="form-control" autocomplete="off" placeholder="username" formControlName="username" (blur)="checkUsername()" (ngModelChange)="valuechange($event)">	
				<ul class="help-block">
					<li *ngIf="form.controls.username.errors?.required && form.controls.username.dirty"> This field is required</li>
					<li *ngIf="form.controls.username.errors?.minlength || form.controls.username.errors?.maxlength && form.controls.username.dirty"> 
						Minimum characters: 5 and maximum characters: 15
					</li>
					<li *ngIf="form.controls.username.errors?.validateUsername && form.controls.username.dirty"> 
						Username must not have any special character
					</li>
					<li *ngIf="usernameMessage">
						{{ usernameMessage }}
					</li>
				</ul>
			</div>
		</div>
		<input [disabled]="!form.valid || processing || !usernameValid" type="submit" class="btn btn-primary" value="submit">
	</form>
</div>