<h1 class="page-header">blog</h1>

<div class="row show-hide-message" *ngIf="message">
	<div [ngClass]="messageClass">
		{{ message }}
	</div>
</div>

<button name="button" class="btn btn-warning" *ngIf="!newPost" (click)="newBlogForm()">New post</button>
<button name="button" class="btn btn-default" *ngIf="!newPost" (click)="reloadBlogs()" [disabled]="loadingBlogs" ><span class="glyphicon glyphicon-refresh
"></span>&nbsp;&nbsp;Reload</button>
<br>
<br>

<div>
	<form [formGroup]="form" name="blogForm" (submit)="onBlogSubmit()" *ngIf="newPost">
		<div class="form-group">
			<label for="title">Title</label>
			<div [ngClass]="{'has-success': form.controls.title.valid, 'has-error': form.controls.title.dirty && form.controls.title.errors}">
				<input type="text" name="title" class="form-control" placeholder="Title" autocomplete="off" formControlName="title">
				<ul class="help-block">
					<li *ngIf="form.controls.title.dirty && form.controls.title.errors?.required">
						This field was required
					</li>
					<li *ngIf="(form.controls.title.dirty && form.controls.title.errors?.maxlength) || (form.controls.title.dirty && form.controls.title.errors?.minlength)">
						Max length: 50, min length: 5
					</li>
					<li *ngIf="form.controls.title.dirty && form.controls.title.errors?.alphaNumericValidation">
						Must be a letter or number
					</li>
				</ul>
			</div>
		</div>
		<div class="form-group">
			<label for="body">Title</label>
			<div [ngClass]="{'has-success': form.controls.body.valid, 'has-error': form.controls.body.dirty && form.controls.body.errors}">
				<textarea name="body" rows="10" cols="20" placeholder="body" class="form-control" formControlName="body"></textarea>
				<!--
				<input type="text" name="body" class="form-control" placeholder="body" autocomplete="off" formControlName="body">
				-->
				<ul class="help-block">
					<li *ngIf="form.controls.body.dirty && form.controls.body.errors?.required">
						This field was required
					</li>
					<li *ngIf="(form.controls.body.dirty && form.controls.body.errors?.maxlength) || (form.controls.body.dirty && form.controls.body.errors?.minlength)">
						Max length: 500, min length: 5
					</li>
				</ul>
			</div>
		</div>
		<button [disabled]="processing" type="button" name="button" (click)="goBack()" class="btn btn-warning">Go back</button>
		<button [disabled]="processing || !form.valid" type="submit" name="button" class="btn btn-success">Submit</button>
	</form>
</div>

<div *ngIf="!newPost">
	<div class="panel panel-primary" *ngFor="let blog of blogPosts">
		<div class="panel-heading">
			<h3 class="panel-title">{{ blog.title }}</h3>
		</div>
		<div class="panel-body">
			{{ blog.body }}
		</div>
		<div class="panel-footer">
			<p><strong>Post by:</strong> {{ blog.createdBy }}</p>
			<p><strong>Date:</strong> {{ blog.createdAt | date: 'dd/MM/yyyy'}}</p>
			<div *ngIf="username === blog.username">
				<p><strong>Likes: </strong>{{ blog.likes }}</p>
				<p><strong>Dislikes: </strong>{{ blog.dislikes }}</p>
			</div>
			<a [routerLink]="['/edit-blog/', blog._id]" *ngIf="username === blog.createdBy"><button type="button" name="button" class="btn btn-sm btn-info">Edit</button></a>
			<a [routerLink]="['/delete-blog/', blog._id]" *ngIf="username === blog.createdBy"><button type="button" name="button" class="btn btn-sm btn-danger">Delete</button></a>
			<div class="dropdown">
				<button type="button" [disabled]="blog.likedBy.indexOf(username) > -1" name="button" class="btn btn-sm btn-success" *ngIf="username !== blog.createdBy" (click)="likeBlog(blog._id)">
					<span class="glyphicon glyphicon-thumbs-up
">&nbsp;</span>Likes: {{ blog.likes }}
				</button>
				<div class="dropdown-content">
					<a [routerLink]="['/user/', liker]" *ngFor="let liker of blog.likedBy">{{ liker }}</a>
				</div>
			</div>

			<div class="dropdown">
				<button type="button" [disabled]="blog.dislikedBy.indexOf(username) > -1" name="button" class="btn btn-sm btn-warning" *ngIf="username !== blog.createdBy" (click)="dislikeBlog(blog._id)">
					<span class="glyphicon glyphicon-thumbs-down">&nbsp;</span>Dislikes: {{ blog.dislikes}}
				</button>
				<div class="dropdown-content">
					<a [routerLink]="['/user/', disliker]" *ngFor="let disliker of blog.dislikedBy">{{ disliker }}</a>
				</div>
			</div>

		</div>

		<div class="list-group">
			<div class="list-group-item">
				<button type="button" name="button" class="btn btn-sm btn-danger" (click)="draftComment(blog._id)" [disabled]="newComment.indexOf(blog._id) > -1">Post comment</button>
				<br>
				<br>
				<div *ngIf="newComment.indexOf(blog._id) > -1"> 
					<form [formGroup]="commentForm">
						<textarea name="comment" row="8" cols="30" class="form-control" formControlName="comment"></textarea>
						<div [ngClass]="{'has-success': !commentForm.controls.comment.errors && commentForm.controls.comment.dirty, 'has-error': commentForm.controls.comment.dirty && commentForm.controls.comment.errors}">
							<ul class="help-block">
								<li *ngIf="commentForm.controls.comment.errors?.required && commentForm.controls.comment.dirty">
									field required
								</li>
								<li *ngIf="(commentForm.controls.comment.errors?.minlength && commentForm.controls.comment.dirty) || (commentForm.controls.comment.errors?.maxlength && commentForm.controls.comment.dirty)">
									Comment must be least 1 character but no more than 200
								</li>
							</ul>
						</div>
						<button type="submit" [disabled]="!commentForm.valid || processing" (click)="postComment(blog._id)" class="btn btn-sm btn-info">
							Send comment
						</button>
						<button type="button" [disabled]="processing" (click)="cancelSubmission(blog._id)" name="button" class="btn btn-sm btn-danger">
							Cancel
						</button>
					</form>
				</div>
				<li *ngIf="enabledComments.indexOf(blog._id) === -1 && blog.comments.length > 0" class="list-group-item">
					<span (click)="expand(blog._id)">
						Show comments
						<div class="glyphicon glyphicon-comment"></div>
					</span>
				</li>
				<li *ngIf="enabledComments.indexOf(blog._id) > -1">
					<span (click)="collapse(blog._id)">
						Hide comments
						<div class="glyphicon glyphicon-comment"></div>
					</span>
				</li>
				<div *ngIf="enabledComments.indexOf(blog._id) > -1">
					<div *ngFor="let comment of blog.comments" class="list-group-item">
						<strong>{{ comment.commentator }} : </strong> {{ comment.comment }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>