<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
	<h1>chuyen den trang lay mat khau</h1>
	<p>Tai khoan cua ban la</p>
	<ul>
		<li>{{username}}</li>
		<li>{{email}}</li>
	</ul>
	<p>click vao <a href="http://localhost:4200/changepassword/{{username}}/{{email}}">day </a></p>
</body>
</html>