<style type="text/css">
	.imageprofile{
		height: 60px;
		width: 60px;
	}
</style>

<h1 class="page-header">Public profile</h1>

<div class="row show-hide-message" *ngIf="message">
	<div [ngClass]="messageClass">
		{{ message }}
	</div>
</div>

<ul *ngIf="foundProfile" class="list_group">
	<li class="list_group-item">Username: {{ username }}</li>
	<li class="list-group-item">Name: {{ name }}</li>
	<li class="list_group-item">Email: {{ email }}</li>
	<li class="list-group-item">
		Avatar:  <img src='{{image}}' class="imageprofile img-thumbnail img-responsive img-circle" alt="noimage">
	</li>
</ul>