<h1 class="page-header">Forgot password</h1>
<hr>
<div class="row show-hide-message">
	<div [ngClass]="messageClass">
		{{ message }}
	</div>
</div>
<form [formGroup]="form" (submit)="onForgotPasswordSubmit()">
	<div class="form-group">
		<label for="username">Username</label>
		<div [ngClass]="{'has-error': (form.controls.username.errors && form.controls.username.dirty) || (!usernameValid && form.controls.username.dirty),'has-success': !form.controls.username.errors && usernameValid}">
			<input type="text" name="username" class="form-control" autocomplete="off" placeholder="username" formControlName="username" >	
			<ul class="help-block">
				<li *ngIf="form.controls.username.errors?.required && form.controls.username.dirty"> This field is required</li>
				<li *ngIf="form.controls.username.errors?.minlength || form.controls.username.errors?.maxlength && form.controls.username.dirty"> 
					Minimum characters: 5 and maximum characters: 15
				</li>
				<li *ngIf="form.controls.username.errors?.validateUsername && form.controls.username.dirty"> 
					Username must not have any special character
				</li>
				<li *ngIf="usernameMessage">
					{{ usernameMessage }}
				</li>
			</ul>
		</div>
	</div>	
	<div class="form-group">
		<label for="email">Email</label>
		<div [ngClass]="{'has-error': (form.controls.email.errors && form.controls.email.dirty) || (!emailValid && form.controls.email.dirty),'has-success': !form.controls.email.errors && emailValid}">
			<input type="text" name="email" class="form-control" autocomplete="off" placeholder="email" formControlName="email" >
			<ul class="help-block">
				<li *ngIf="form.controls.email.errors?.required && form.controls.email.dirty"> 
					This field is required
				</li>
				<li *ngIf="form.controls.email.errors?.minlength || form.controls.email.errors?.maxlength && form.controls.email.dirty"> 
					Minimum characters: 5 and maximum characters: 30
				</li>
				<li *ngIf="form.controls.email.errors?.validateEmail && form.controls.email.dirty"> 
					This must be valid email
				</li>
				<li *ngIf="emailMessage">
					{{ emailMessage }}
				</li>
			</ul>
		</div>
	</div>	
	<input type="submit" class="btn btn-primary" value="submit">
</form>
<!--
<p>Username: {{ form.controls.username.value }}</p>
<p>email: {{ form.controls.email.value }}</p>
<p>Password: {{ form.controls.password.value }}</p>
<p>Confirm password: {{ form.controls.confirm.value }} </p>
-->